@import "../../../assets/scss/main.scss";

.pagination {
  display: flex;
  & li {
    margin-right: 15px;
    & a {
      display: flex;
      width: 45px;
      height: 45px;
      font-size: 16px;
      margin-right: 15px;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      border: 1px solid $mainColor;
      border-radius: 50%;
      color: $mainColor;
      cursor: pointer;
    }
    &.selected {
      & a {
        background: $mainColor;
        color: #fff;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
