@import "../../../assets/scss/main.scss";
.cart {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #f4f4f4;
    &:first-child {
      padding-top: 45px;
      margin-bottom: 45px;
      border-top: 1px solid #f4f4f4;
    }
    &:last-child {
      border: none;
    }
    &__img {
      max-width: 80px;
      width: 100%;
      margin-right: 15px;
    }
    &__left {
      display: flex;
      max-width: 400px;
      width: 100%;
      align-items: center;
    }
    &__title {
      font-size: 22px;
      margin-bottom: 5px;
    }
    &__dough {
      font-size: 18px;
      color: #8d8d8d;
      & span:last-child {
        margin-left: 5px;
      }
    }
    &__counter {
      display: flex;
      align-items: center;
      &-change {
        display: flex;
        flex: none;
        width: 30px;
        height: 30px;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        border: 2px solid $mainColor;
        border-radius: 50%;
        color: $mainColor;
        cursor: pointer;
      }
      &-value {
        display: flex;
        width: 25px;
        font-size: 22px;
        font-weight: 800;
        justify-content: center;
        margin: 0 12px;
      }
    }
    &__price {
      font-size: 22px;
      font-weight: 800;
    }
    &__remove {
      display: flex;
      width: 30px;
      height: 30px;
      font-size: 15px;
      justify-content: center;
      align-items: center;
      border: 2px solid #d7d7d7;
      border-radius: 50%;
      color: #d7d7d7;
    }
  }
}
